<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Semanti</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="../js/popup.js"></script>
  </head>
  <body>
  <div id='message'></div>
  <div id="content">
    <div id="header">
      <img src="../img/icon48.png">
      <div id="header_msg">
        <a href="">Login</a>
      </div>
    </div>
    <div id="clear"></div>
    <div id="chat_frame">
      <div id="chat_window">

      </div>
      <form name="message" action="">
        <input name="usermsg" type="text" id="usermsg" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
      </form>

    </div>


  </div>
  </body>
</html>

